<section class="containter mt-2">
<div class="row g-3">

    <article class="col-12 col-md-6 col-lg-4" *ngFor="let user of arrUser">
        <app-card-detail [usuario]="user"></app-card-detail>
    </article>

    <div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><button class="page-link" (click)="gotoPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button></li>
          <li class="page-item"><button class="page-link" (click)="gotoPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button></li>
        </ul>
    </nav>
</div>
</div>
</section>
