<header class="p-3 border-bottom border-1 header shadow d-flex justify-content-between align-items-baseline">
  <h4>LISTA DE USUARIOS</h4>
  <div class="align-items-rigt">
    <button class="newButton" [routerLink]="['/home']">Home</button>
    <button class="newButton" [routerLink]="['/newuser']">Crea tu usuario</button>
  </div>
</header>
<main class="container">
<router-outlet></router-outlet>
</main>
<footer class="header justify-content-center d-flex p-2 fixed-bottom">
  <p class="text">This is a footer</p>
</footer>
